// Necessary bootstrap files
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

// Shared custom scss
@import "src/app/shared/scss/aria.scss";
@import "src/app/shared/scss/mobile-mixins.scss";
@import "src/app/shared/scss/variables.scss";

// Styling
ul, .card, .nav-bg {
  background-color: $nav-item-color;
  border-radius: 0;
}

.nav-brand-color {
  background-color: $nav-brand-color;
}

.nav-brand-letter {
  letter-spacing: -1px;
}

.nav-brand-img {
  width: 5.5rem;
}

.hamburger-expanded {
  color: $nav-brand-color;
  background-color: white
}

.nav-sub-option,
div.nav-link:hover {
  background-color: $nav-item-color-darker;
}

.nav-title-bg {
  background-color: $nav-title-color
}

.special-icon {
  background-color: $nav-custom-icon-color;
}

.special-icon,
.icon-subtext {
  font-size: .75rem;
}

// Responsiveness
.w-275px {
  @include media-breakpoint-up(md){
    // 276 px
    width: 17.25rem;
    min-width: 17.25rem
  }
}

.w-65px {
  @include media-breakpoint-up(md) {
    // 64px
    width: 4rem;
  }
}

.menu-hidden {
  @include hide-in-mobile-screen();
}

.menu-condensed {
  @include hide-in-desktop-screen();
}

.justify-content-between-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
}

.flex-fill-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
}

// Accessibility
div[tabindex='0']:focus,
span[tabindex='0']:focus,
li[tabindex='0']:focus {
  @include aria-focus();
}


// Nav
.nav-wrapper {
  @include media-breakpoint-up(md) {
    overflow: auto;
    height: 100%;
    position: fixed;
    float: left;
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
