@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$nav-item-color: #34495e;
$nav-item-color-darker: #2f4255;
$nav-brand-color: #0f5ca8;

ul, .card {
  background-color: $nav-item-color;
  border-radius: 0;
}

.nav-brand-color {
  background-color: $nav-brand-color;
}

.nav-brand-letter {
  letter-spacing: -1px;
}

.nav-brand-img {
  width: 7rem;
  height: 1.5rem;
}

.hamburger-expanded {
  color: $nav-brand-color;
  border-color: $nav-brand-color;
  background-color: white
}

.cursor-pointer{
  cursor: pointer;
}

.nav-sub-option,
div.nav-link:hover {
  background-color: $nav-item-color-darker;
}

.menu-hidden {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.menu-condensed {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.justify-content-between-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
}

.icon-subtext {
  font-size: .75rem;
}
