// Necessary bootstrap files
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

// Shared custom scss
@import "src/app/shared/scss/aria.scss";
@import "src/app/shared/scss/mobile-mixins.scss";
@import "src/app/shared/scss/variables.scss";

// Styling
ul, .card {
  background-color: $nav-item-color;
  border-radius: 0;
}

.nav-brand-color {
  background-color: $nav-brand-color;
}

.nav-brand-letter {
  letter-spacing: -1px;
}

.nav-brand-img {
  width: 7rem;
  height: 1.5rem;
}

.hamburger-expanded {
  color: $nav-brand-color;
  background-color: white
}

.nav-sub-option,
div.nav-link:hover {
  background-color: $nav-item-color-darker;
}

// Responsiveness
.menu-hidden {
  @include hide-in-mobile-screen();
}

.menu-condensed {
  @include hide-in-desktop-screen();
}

.justify-content-between-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
}

// Accessibility
div[tabindex='0']:focus,
span[tabindex='0']:focus,
li[tabindex='0']:focus {
  @include aria-focus();
}
