ul, .card {
  background-color: #34495e;
  border-radius: 0;
}

ul {
  color: white;
}

.cursor-pointer{
  cursor: pointer;
}

.selected {
  background-color: #2f4255;
}

.nav-item:hover {
  background-color: #2f4255;
}
