@import "src/app/shared/scss/aria";
@import "src/app/shared/scss/variables";

.special-icon {
  background-color: $nav-custom-icon-color;
}

.special-icon,
.icon-subtext {
  font-size: .75rem;
}

.nav-title-bg {
  background-color: $nav-title-color
}
