<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
  <side-nav></side-nav>

  <!-- Title Bar Area (md+) -->
  <div class="d-flex justify-content-between align-items-center flex-fill nav-title-bg text-white">
    <!-- Administration Title -->
    <div class="mx-2">
      Spectrum Communications & Consulting Inc. Administration
    </div>
    <!-- Account Short Info -->
    <div>
      <span class="d-inline special-icon rounded mx-1">spectrum</span>
      <span class="mr-2">brookek@spectrum.inc</span>
      <span class="menu-hidden cursor-pointer mx-2 p-1"
            aria-label="Log off"
            title="Log off"
            tabindex="0"
            role="button">
        <fa-icon [icon]="powerIcon"></fa-icon>
      </span>
    </div>
  </div>

  <content-manager></content-manager>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


