// Necessary bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

// Shared custom scss
@import "~src/app/shared/scss/aria";
@import "~src/app/shared/scss/mobile-mixins";
@import "~src/app/shared/scss/variables";

// Styling
ul, .card, .nav-bg {
  background-color: $nav-item-color;
  border-radius: 0;
}

.nav-brand-color {
  background-color: $nav-brand-color;
}

.nav-brand-letter {
  letter-spacing: -1px;
}

.nav-brand-img {
  width: 5.5rem;
}

.hamburger-expanded {
  color: $nav-brand-color;
  background-color: white
}

.nav-sub-option,
div.nav-link:hover {
  background-color: $nav-item-color-darker;
}

.nav-title-bg {
  background-color: $nav-title-color
}

.special-icon {
  background-color: $nav-custom-icon-color;
}

.special-icon,
.icon-subtext {
  font-size: .75rem;
}

// Responsiveness
.w-275px {
  @include media-breakpoint-up(md){
    // 276 px
    width: $nav-side-width;
    min-width: $nav-side-width;
  }
}

.w-65px {
  @include media-breakpoint-up(md) {
    // 64px
    width: $nav-side-width-sm;
  }
}

.p-275px {
  @include media-breakpoint-up(md) {
    padding-left: $nav-side-width;
  }
}

.p-65px {
  @include media-breakpoint-up(md) {
    padding-left: $nav-side-width-sm;
  }
}

.menu-hidden {
  @include hide-in-mobile-screen();
}

.menu-condensed {
  @include hide-in-desktop-screen();
}

.center-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

.between-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
}

.fill-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
}

.flex-column-max-sm {
  @include media-breakpoint-down(sm) {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

.overflow-hidden-min-md {
  @include media-breakpoint-up(md) {
    overflow: hidden !important;
  }
}
.h-100-min-md {
  @include media-breakpoint-up(md) {
    height: 100% !important;
  }
}

// Nav
.nav-wrapper {
  @include media-breakpoint-up(md) {
    overflow: auto;
    height: 100%;
    position: fixed;
    float: left;
    margin-bottom: 1rem;
  }
}

// Accessibility
div[tabindex='0']:focus,
span[tabindex='0']:focus,
li[tabindex='0']:focus {
  @include aria-focus();
}

