<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <h3 class="mr-2">Contacts</h3>
    <span>Total Count: 4313</span>
  </div>
  <div>
    <button class="btn btn-danger mr-2">
      <fa-icon [icon]="deleteIcon" [fixedWidth]="true"></fa-icon> Remove Test Contacts
    </button>
    <button class="btn btn-dark">
      <fa-icon [icon]="helpIcon" [fixedWidth]="true"></fa-icon> Help
    </button>
  </div>
</div>

<div class="card">
  <div class="d-flex justify-content-between my-2 mx-1">
    <div class="d-flex flex-nowrap mr-1">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-label="">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-nowrap justify-content-end">
      <button class="btn btn-success mr-1 text-nowrap">
        <fa-icon [icon]="addIcon" [fixedWidth]="true"></fa-icon>
        Add Contacts
      </button>
      <button class="btn btn-dark mr-1">
        <fa-icon [icon]="firstPageIcon" [fixedWidth]="true" size="lg"></fa-icon>
      </button>
      <button class="btn btn-dark mr-1">
        <fa-icon [icon]="prevPageIcon" [fixedWidth]="true" size="lg"></fa-icon>
      </button>
      <div class="form-inline w-15 mr-1">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
          <div class="input-group-append">
            <span class="input-group-text" id="">of 87</span>
          </div>
        </div>
      </div>
      <button class="btn btn-dark mr-1">
        <fa-icon [icon]="nextPageIcon" [fixedWidth]="true" size="lg"></fa-icon>
      </button>
      <button class="btn btn-dark mr-1">
        <fa-icon [icon]="lastPageIcon" [fixedWidth]="true" size="lg"></fa-icon>
      </button>
    </div>
  </div>

  <table class="table table-striped w-100">
    <colgroup span="8">
      <col style="width: 6%;">
      <col style="width: 12.5%;">
      <col style="width: 12.5%;">
      <col style="width: 12.5%;">
      <col style="width: 12.5%;">
      <col style="width: 12.5%;">
      <col style="width: 12.5%;">
      <col style="width: 6%;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col"><span class="sr-only">Select All</span></th>
        <th scope="col">Initial</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Source</th>
        <th scope="col"><span class="sr-only">Actions</span></th>
      </tr>
      <tr>
        <th scope="col">
          <app-custom-checkbox></app-custom-checkbox>
        </th>
        <th scope="col"><input class="form-control" type="text"></th>
        <th scope="col"><input class="form-control" type="text"></th>
        <th scope="col"><input class="form-control" type="text"></th>
        <th scope="col"><input class="form-control" type="text"></th>
        <th scope="col"><input class="form-control" type="text"></th>
        <th scope="col"><input class="form-control" type="text"></th>
        <th scope="col"><span class="sr-only">No Filters are available for Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row">
        <td><app-custom-checkbox></app-custom-checkbox></td>
        <td>Quote</td>
        <td>12/15/2020</td>
        <td>Todd Shea</td>
        <td>tshea@apple.com</td>
        <td>(512) 888-4444</td>
        <td>Organic: google.com </td>
        <td>Actions</td>
      </tr>
    </tbody>
  </table>
</div>
