// Necessary bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

// Shared custom scss
@import "~src/app/shared/scss/aria";
@import "~src/app/shared/scss/mobile-mixins";
@import "~src/app/shared/scss/variables";

.w-15 {
  width: 25%;
}

.table {
  table-layout: fixed;
}
