<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <h3 class="mr-4">Contacts</h3>
    <span>Total Count: 4313</span>
  </div>
  <div>
    <button class="btn btn-danger mr-2"><fa-icon [icon]="" [fixedWidth]="true"></fa-icon> Remove Test Contacts</button>
    <button class="btn btn-dark"><fa-icon [icon]="" [fixedWidth]="true"></fa-icon> Help</button>
  </div>
</div>

<div class="card">
  <div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="" aria-label="">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>

    <div>
      <button class="btn btn-success">Add Contacts</button>

      <button><<</button>
      <button><</button>
      <div><input type="text"> of 87</div>
      <button>></button>
      <button>>></button>
    </div>
  </div>

  <table class="table table-striped w-100">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      <tr>
        <th scope="col"><input type="text"></th>
        <th scope="col"><input type="text"></th>
        <th scope="col"><input type="text"></th>
        <th scope="col"><input type="text"></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>
